html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: linear-gradient(116.82deg, #FCB023 0%, #141406 99.99%, #070D1C 100%);
  }

  .box {
    background: linear-gradient(116.82deg, #926614 0%, #3f3f13 99.99%, #070D1C 100%);
    border-radius: 25px;
    margin-bottom: 10rem;
  }

  .whiteBox {
    min-height: 70vh;
  }

  .headerBox{
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
  }

  .carouselBox {}
  .project-group {
    display: flex;
    justify-content: space-around;
  }
  
  .project-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 20%;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 23px;
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .project-details {
    margin-top: 10px;
    text-align: center;
  }
  
  .project-details p {
    margin: 5px 0;
  }
  
  .project-details button {
    margin-top: 10px;
    padding: 10px 20px;
    background: linear-gradient(180deg, #FFD602 0%, #FFA231 100%);
    border: none;
    border-radius: 23px;
    color: black;
    cursor: pointer;
  }
  
  .project-details button:hover {
    background-color: #5a4328;
  }

  .mintBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .mintWattpeakInput {
    margin-top: 10px;
    padding: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.00);
    border-radius: 45px;
    border: none;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  .inputWrapper:hover {
    background-color: rgba(218, 9, 9, 0.08);
  }

  .inputWrapper {
    width: 40%;
    height: 100%;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 23px;
    padding: 10px;
  }

  .balanceWrapper {
    position: absolute;
  }

  .mintJunoInput {
    margin-top: 10px;
    padding: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.00);
    border-radius: 45px;
    border: none;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

  .mintBtn {
    background: linear-gradient(180deg, #FFD602 0%, #FFA231 100%);
    cursor: pointer;
    border-radius: 45px;
    width: 196px;
    height: 38px;
    font-size: 18px;
    color: black;
    margin-top: 20px;
    margin-bottom: 15%;
  }

  .mintBtn:hover {
    background-color: #5a4328;
  }

  .mintButtonDetailsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }

  .maxButtonMinting {
    background: linear-gradient(180deg, #FFD602 0%, #FFA231 100%);
    cursor: pointer;
    border-radius: 10px;
    width: 50px;
    font-size: 14px;
    padding: 2px;
    color: black;
    margin-left: 5px;
  }

  .maxButtonMinting:hover {
    background-color: #5a4328;
  }

  .priceDetails {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 23px;
    padding: 20px;
    text-align: center;
  }
  
}